<!-- views/therapist/new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/navigation.ejs %>

<header>
    <% include ../partials/header %>
</header>

<section>
    <div class="container">
        <form class='form-horizontal' method='post' action='/therapists'>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="請輸入治療師名字">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">性別</label>
                <label class="radio-inline">
                    <input type="radio" name="sex" id="inlineRadio1" value="male"> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" id="inlineRadio2" value="female"> 女
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">新增</button>
                </div>
            </div>
        </form>
    </div>
</section>



<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>