<!-- views/therapist/new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/navigation.ejs %>

<header>
    <% include ../partials/header %>
</header>


<div class="content">
    <div class="content-heading">
        <div class="container container-full">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/"><span class="icon icon-home"></span>HOME</a>
                            </li>
                            <li>
                                <a href="/therapist">THERAPISTS</a>
                            </li>
                            <li class="active">
                                <a href="<%= "/therapists/new" %>">NEW</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner">
        <div class="container">
            <form class='form-horizontal' method='post' action='/therapists'>
                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label for="inputName" class="floating-label">姓名</label>

                            <input type="text" class="form-control" id="inputName" name="name">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio radio-adv radio-inline">
                        <label for="input-radio-1">
                            <input class="access-hide" id="input-radio-1" name="sex" type="radio" value="male" checked> 男
                        </label>
                    </div>
                    <div class="radio radio-adv radio-inline">
                        <label for="input-radio-2">
                            <input class="access-hide" id="input-radio-2" name="sex" type="radio" value="female"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group-btn">
                    <button class="btn btn-blue waves-button waves-light waves-effect" type="submit">新增</button>
                    <button class="btn waves-button waves-effect" type="button" onclick="window.location='/therapist'">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section>
    <div class="container">

    </div>
</section>



<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>