<!-- views/home/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>
<% include ../partials/navigation %>

<div class="content">
    <div class="content-heading">
        <div class="container container-full">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10">
                    <h1 class="heading">未報到</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner">
        <div class="container container-full">
            <div class="jobZone">

            </div>
        </div>
    </div>
</div>




<% include ../partials/footer %>

<div class="fbtn-container">
    <div class="fbtn-inner">
        <a class="fbtn fbtn-red" href="https://github.com/Daemonite/material"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
    </div>
</div>

<script type="text/template" class="lineUp">
    <div class="col-md-4 contrast">
        <span class="name-circle">{{= pa.name.substr(0,1) }}</span> <h4> {{= pa.name }} </h4>

    </div>

</script>

<script>

    _.templateSettings = {
        interpolate: /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g
    };

    $(function(){
        todyPatients();

    });


    function todyPatients() {
        $.ajax({
            url: '/jobs/',
            contentType: "application/json;charset=utf-8",
            method: 'GET',
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {
                lineUpPatients(data);
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

    function lineUpPatients(data) {
        $( ".selectableArea").empty();
        var cont = _.filter(data, function(elem){
            return elem.job.status === "Line";
        });

        // Grab the HTML out of our template tag and pre-compile it.
        var template = _.template(
                $( "script.lineUp" ).html()
        );

        _.each(cont, function(elem){
            // Render the underscore template and inject it after the H1
            // in our current DOM.
            $( ".jobZone" ).append(
                    template( elem )
            );

        });
    }
</script>

</body>
</html>