<!-- views/home/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>
<% include ../partials/navigation %>

<div class="content">
    <div class="content-heading">
        <div class="container container-full">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10">
                    <div class="text-overflow">
                        <span class="icon icon-event-available"></span> 未報到
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner">
        <div class="container container-full">
            <div class="job-zone row">

            </div>
        </div>
    </div>
</div>




<% include ../partials/footer %>

<div class="fbtn-container">
    <div class="fbtn-inner">
        <a class="fbtn fbtn-red fbtn-lg waves-circle waves-effect waves-light" data-toggle="dropdown" title="Upload"><span class="access-hide">Action</span><span class="fbtn-ori icon icon-more-vert"></span><span class="fbtn-sub icon icon-expand-less"></span></a>
        <div class="fbtn-dropdown">
            <a class="fbtn fbtn-blue" href="javascript:lineUpPatients()"><span class="fbtn-text">未報到</span><span class="icon icon-event-available"></span></a>
            <a class="fbtn fbtn-green" href="javascript:checkPatients()"><span class="fbtn-text">已報到</span><span class="icon icon-check-box"></span></a>
            <a class="fbtn fbtn-yellow" href="javascript:offPatients()"><span class="fbtn-text">請假</span><span class="icon icon-local-hospital"></span></a>
        </div>
    </div>
</div>

<!--underscore template-->

<script type="text/template" class="lineUp">
    <div class="col-lg-1 col-md-2 col-sm-4">
        <div class="card card-green">
            <div class="card-main card-main-ext">
                <div class="card-inner card-inner-ext">
                    <p class="card-name-heading text-green">{{= pa.name }}</p>
                </div>
                <span class="name-circle-xs circle-posi circle-raised">{{= pa.name.substr(0,1) }}</span>
                <div class="card-action">
                    <input type="hidden" id="dailyJobId" value="{{= job.objectId }}" >
                    <div class="card-content">
                        {{= pa.diagnosis }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

<script>
    var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
    var animationShake = 'animated shake';
    var animationHinge = 'animated hinge';

    _.templateSettings = {
        interpolate: /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g
    };

    $(function(){
        todyPatients();

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });

    var jobData = null;

    function todyPatients() {
        $.ajax({
            url: '/jobs/',
            contentType: "application/json;charset=utf-8",
            method: 'GET',
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {
                jobData = data;
                lineUpPatients();
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

    function lineUpPatients() {
        $(".text-overflow").html('<span class="icon icon-event-available"></span> 未報到');
        $( "div.job-zone").empty();
        var cont = _.filter(jobData, function(elem){
            return elem.job.status === "Line";
        });

        // Grab the HTML out of our template tag and pre-compile it.
        var template = _.template(
                $( "script.lineUp" ).html()
        );

        _.each(cont, function(elem){
            // Render the underscore template and inject it after the H1
            // in our current DOM.
            $( "div.job-zone" ).append(
                    template( elem )
            );

        });

        clickAction($('div.job-zone').find('.card'),checkAction,offAction, lineUpPatients);
    }

    function offPatients() {
        $(".text-overflow").html('<span class="icon icon-local-hospital"></span> 請假');
        $( "div.job-zone").empty();
        var cont = _.filter(jobData, function(elem){
            return elem.job.status === "Off";
        });

        // Grab the HTML out of our template tag and pre-compile it.
        var template = _.template(
                $( "script.lineUp" ).html()
        );

        _.each(cont, function(elem){
            // Render the underscore template and inject it after the H1
            // in our current DOM.
            $( "div.job-zone" ).append(
                    template( elem )
            );

        });

        clickAction($('div.job-zone').find('.card'),lineAction,lineAction, offPatients);
    }

    function checkPatients() {
        $(".text-overflow").html('<span class="icon icon-check-box"></span> 已報到');
        $( "div.job-zone").empty();
        var cont = _.filter(jobData, function(elem){
            return elem.job.status === "Check";
        });

        // Grab the HTML out of our template tag and pre-compile it.
        var template = _.template(
                $( "script.lineUp" ).html()
        );

        _.each(cont, function(elem){
            // Render the underscore template and inject it after the H1
            // in our current DOM.
            $( "div.job-zone" ).append(
                    template( elem )
            );

        });

        clickAction($('div.job-zone').find('.card'),lineAction,offAction, checkPatients);
    }

    function checkAction(elem, finishCallback) {
        elem.addClass(animationShake).one(animationEnd, function() {
            elem.removeClass(animationShake).addClass(animationHinge).one(animationEnd, function() {
                var id = elem.find('#dailyJobId').val();
                $.ajax({
                    url: '/check/' + id + '/Check',
                    contentType: "application/json;charset=utf-8",
                    method: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        var obj = _.find(jobData, function (item) {
                            return item.job.objectId == data.objectId;
                        });
                        obj.job = data;
                        finishCallback();
                        toastr["success"]("【" + obj.pa.name + "】已完成報到","報到");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr["error"]("Oops!發生錯誤了，請再試一次","報到");
                    }
                });
            });
        });
    };

    function offAction(elem, finishCallback) {
        elem.addClass(animationShake).one(animationEnd, function() {
            elem.removeClass(animationShake).addClass(animationHinge).one(animationEnd, function() {
                var id = elem.find('#dailyJobId').val();
                $.ajax({
                    url: '/check/' + id + '/Off',
                    contentType: "application/json;charset=utf-8",
                    method: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        var obj = _.find(jobData, function (item) {
                            return item.job.objectId == data.objectId;
                        });
                        obj.job = data;
                        finishCallback();
                        toastr["warning"]("【" + obj.pa.name + "】已完成請假","請假");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr["error"]("Oops!發生錯誤了，請再試一次","請假");
                    }
                });
            });
        });
    };

    function lineAction(elem, finishCallback) {
        elem.addClass(animationShake).one(animationEnd, function() {
            elem.removeClass(animationShake).addClass(animationHinge).one(animationEnd, function() {
                var id = elem.find('#dailyJobId').val();
                $.ajax({
                    url: '/check/' + id + '/Line',
                    contentType: "application/json;charset=utf-8",
                    method: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        var obj = _.find(jobData, function (item) {
                            return item.job.objectId == data.objectId;
                        });
                        obj.job = data;
                        finishCallback();
                        toastr["info"]("已將【" + obj.pa.name + "】的狀態改為未報到","未報到");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr["error"]("Oops!發生錯誤了，請再試一次","未報到");
                    }
                });
            });
        });
    };

    function clickAction(elem, singleCallback, doubleCallback, finishCallback) {
        elem.on('click',function(){
            var $button=$(this);
            if ($button.data('alreadyclicked')){
                $button.data('alreadyclicked', false); // reset

                if ($button.data('alreadyclickedTimeout')){
                    clearTimeout($button.data('alreadyclickedTimeout')); // prevent this from happening
                }
                // do what needs to happen on double click.
                doubleCallback($button, finishCallback);
            }else{
                $button.data('alreadyclicked', true);
                var alreadyclickedTimeout=setTimeout(function(){
                    $button.data('alreadyclicked', false); // reset when it happens
                    singleCallback($button, finishCallback);
                    // do what needs to happen on single click.
                    // use $button instead of $(this) because $(this) is
                    // no longer the element
                },300); // <-- dblclick tolerance here
                $button.data('alreadyclickedTimeout', alreadyclickedTimeout); // store this id to clear if necessary
            }
            return false;
        });
    }
</script>

</body>
</html>