<!-- views/therapist/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/navigation.ejs %>

<header>
    <% include ../partials/header %>
</header>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-block" onclick= <%= "location.href='/schedule/" +  therapistId + "/assign'" %>>修改</button>
    </div>
</div>

<div class="row">
    <% for(var i = 0 ; i< model.length; i++) { %>
    <div class="col-lg-2 col-md-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="week-description"><%= model[i].Day %></span>
            </div>
            <div class="col-md-12">
                <div class="row">
                <% for(var j = 0; j < model[i].periods.length; j++) { %>
                    <div class="col-md-12 text-center">
                        <span class="time-description"><%= model[i].periods[j].desc%> </span>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <% for(var k = 0; k < model[i].periods[j].patients.length; k++) { %>
                            <li><%= model[i].periods[j].patients[k].get('name') %></li>
                            <% } %>
                        </ul>
                    </div>

                <% } %>
                </div>
            </div>
        </div>
    </div>

    <% } %>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>