<!-- views/partials/footer.ejs -->

<footer class="footer">
    <div class="container">
        <h6 class="footer-content">Jimmy.Chen <br/>
        POWER BY: www.parse.com</h6>
    </div>
</footer>

<script src="/js/base.js" type="text/javascript"></script>
<script src="/js/project.js" type="text/javascript"></script>

<!-- underscore -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!--toastr-->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<!--sweet alert-->
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.min.js"></script>
<script>
    function pagePalettes(palette) {
        if(typeof(Storage) !== "undefined") {
            localStorage.pagepalette = palette;
            location.reload();
        }
    }

    $(function() {
        //Set Page palette
        if (localStorage.pagepalette) {
            $('body').addClass(localStorage.pagepalette);
        }
    });
</script>