<!-- views/partials/footer.ejs -->

<footer class="footer">
    <div class="container">
        <p>Material</p>
    </div>
</footer>

<script src="/js/base.js" type="text/javascript"></script>

<!-- underscore -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!--toastr-->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>