<!-- views/partials/header.ejs -->

<div class="container">
    <div class="intro-text">
        <div class="intro-lead-in">Welcome To Our Website!</div>
        <div class="intro-heading">We design. We HTML5.<br>
            We WordPress.</div>
        <a href="#services" class="page-scroll btn btn-xl"><i class="fa fa-angle-double-down fa-4x"></i></a> </div>
</div>