<!-- views/partials/header.ejs -->

<header class="header">
    <ul class="nav nav-list pull-left">
        <li>
            <a class="menu-toggle" href="#menu">
                <span class="access-hide">Menu</span>
                <span class="icon icon-menu"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
    </ul>
    <a class="header-logo" href="/">報到系統</a>
    <ul class="nav nav-list pull-right">
        <li>
            <a class="menu-toggle" href="#search">
                <span class="access-hide">Search</span>
                <span class="icon icon-search"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
        <li>
            <a class="menu-toggle" href="#profile">
                <span class="access-hide">John Smith</span>
                <span class="avatar avatar-sm"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
    </ul>
</header>