<!-- views/partials/header.ejs -->

<header class="header">
    <ul class="nav nav-list pull-left">
        <li>
            <a class="menu-toggle" href="#menu">
                <span class="access-hide">Menu</span>
                <span class="icon icon-menu"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
    </ul>
    <a class="header-logo" href="/">報到系統</a>
    <ul class="nav nav-list pull-right">
        <li>
            <a class="menu-toggle" href="#search">
                <span class="access-hide">Search</span>
                <span class="icon icon-search"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
        <% if (!Parse.User.current()) { %>
        <li>
            <a href="/">Share an image</a>
            | <a href="/i/latest">Latest</a>
            | <a href="/login">Login</a>
            | <a href="/signup">Signup</a>
        </li>
        <% } else { %>
        <li>
            <a class="menu-toggle" href="#profile">
                <span class="access-hide"><%= Parse.User.current() ? Parse.User.current().get('username') : '' %></span>
                <span class="avatar avatar-sm"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
        <li>
            <a href="/i/mine"><%= Parse.User.current().get('username') %></a>
            | <a href="/">Share an image</a>
            | <form action="/logout" method="post">
                <a href="#" data-action="post">Logout</a>
            </form>
        </li>
        <% } %>

    </ul>
</header>