<nav class="menu" id="menu">
    <div class="menu-scroll">
        <div class="menu-wrap">
            <div class="menu-content">
                <ul class="nav">
                    <li>
                        <a href="/patient">Patients</a>
                    </li>
                    <li>
                        <a href="/therapist">Therapists</a>
                    </li>
                </ul>
                <hr>
                <ul class="nav">
                    <li>
                        <a href="javascript:void(0);">Page Palettes</a>
                        <span class="menu-collapse-toggle collapsed" data-target="#page-palettes" data-toggle="collapse"><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
                        <ul class="menu-collapse collapse" id="page-palettes">
                            <li>
                                <a href="javascript:pagePalettes('page-pink')">Pink Palette</a>
                            </li>
                            <li>
                                <a href="javascript:pagePalettes('page-blue')">Blue Palette</a>
                            </li>
                            <li>
                                <a href="javascript:pagePalettes('page-green')">Green Palette</a>
                            </li>
                            <li>
                                <a href="javascript:pagePalettes('page-purple')">Purple Palette</a>
                            </li>
                            <li>
                                <a href="javascript:pagePalettes('page-red')">Red Palette</a>
                            </li>
                            <li>
                                <a href="javascript:pagePalettes('page-yellow')">Yellow Palette</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav class="menu menu-right" id="profile">
    <div class="menu-scroll">
        <div class="menu-wrap">
            <div class="menu-top">
                <div class="menu-top-img">
                    <img alt="John Smith" src="images/samples/landscape.jpg">
                </div>
                <div class="menu-top-info">
                    <a class="menu-top-user" href="javascript:void(0)"><span class="avatar pull-left"><img alt="alt text for John Smith avatar" src="images/users/avatar-001.jpg"></span>John Smith</a>
                </div>
            </div>
            <div class="menu-content">
                <ul class="nav">
                    <li>
                        <a href="javascript:void(0)"><span class="icon icon-account-box"></span>Profile Settings</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span class="icon icon-add-to-photos"></span>Upload Photo</a>
                    </li>
                    <li>
                        <a href="page-login.html"><span class="icon icon-exit-to-app"></span>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="menu menu-right menu-search" id="search">
    <div class="menu-scroll">
        <div class="menu-wrap">
            <div class="menu-top">
                <div class="menu-top-info">
                    <form class="menu-top-form">
                        <label class="access-hide" for="menu-search">Search</label>
                        <input class="form-control form-control-inverse menu-search-focus" id="menu-search" placeholder="Search" type="search">
                        <button class="access-hide" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="menu-content">
                <div class="menu-content-inner">
                    <p><strong>Saved Search Queries:</strong></p>
                    <ul>
                        <li><a href="javascript:void(0)">lorem ipsum dolor sit amet</a></li>
                        <li><a href="javascript:void(0)">consectetur adipiscing elit</a></li>
                        <li><a href="javascript:void(0)">sed ornare orci lorem</a></li>
                        <li><a href="javascript:void(0)">vel eleifend elit tempor eleifend</a></li>
                        <li><a href="javascript:void(0)">morbi feugiat aliquet justo</a></li>
                    </ul>
                    <hr>
                    <p><strong>Popular Search Queries:</strong></p>
                    <ul>
                        <li><a href="javascript:void(0)">id ullamcorper tortor lobortis eu</a></li>
                        <li><a href="javascript:void(0)">aliquam ut tellus arcu</a></li>
                        <li><a href="javascript:void(0)">cestibulum tortor purus</a></li>
                        <li><a href="javascript:void(0)">pretium ac dolor id</a></li>
                        <li><a href="javascript:void(0)">gravida molestie libero</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>